@font-face {
    font-family: 'Chomsky';
    src: url('../../assets/fonts/Chomsky.otf') format('woff'),
}

@font-face {
    font-family: 'Klarheit';
    src: url('../../assets/fonts/OldKlarheit-Regular.ttf') format('woff'),
}

@font-face {
    font-family: 'Balancing';
    src: url('../../assets/fonts/BalancingNewsDemoRegular.ttf') format('woff'),
}

@font-face {
    font-family: 'nI';
    src: url('../../assets/fonts/newsweekly-Italic.otf') format('woff'),
}

@font-face {
    font-family: 'nR';
    src: url('../../assets/fonts/newsweekly-Regular.ttf') format('woff'),
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.home-grid-div {
    display: grid;
    grid-template-rows: 150px 350px 200px;
    grid-template-columns: 0.15fr 1fr 1fr 1fr 0.7fr;
    gap: 5px;
    height: 100vh;
}

#nav-bar-div {
    width: 100%;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 6;
    margin-bottom: 0px;
    padding-top: 10px;

}

#heading {
    font-family: Chomsky;
    font-size: 60px;
    text-align: center;
}

.horizontal-line-1 {
    width: 100%;
    border: none;
    border-top: 2px solid black;
    margin-top: 20px;
}

.horizontal-line-2 {
    width: 100%;
    border: none;
    border-top: 1px solid black;
    margin-top: 1px;
}

#nav {
    font-family: Klarheit;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    align-items: center;
}

#date,
#time {
    margin-right: 10px;
}

#date {
    margin-left: 10px;
}

#time {
    margin-left: 50px;
    flex: 1;
}

#users{
    cursor: pointer;
}
#users,
#album,
#posts,
#todos {
    flex-shrink: 0;
    margin-left: 20px;
}

#todos{
    margin-right: 40px;
}

.horizontal-line-3 {
    width: 100%;
    border: none;
    border-top: 1px solid black;
    margin-top: 10px;
}

.horizontal-line-4 {
    width: 100%;
    border: none;
    border-top: 2px solid black;
    margin-top: 1px;
}

#recent {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 6;
}

#recent-photos {
    width: 100%;
    min-height: 50%;
    padding-top: 30px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

#recent-photos .item {
    font-family: nI;
    flex: 0 0 auto;
    animation: scroll 20s linear infinite;
    width: 200px;
    height: 200px;
    filter: grayscale(100%);
    transition: filter 0.5s ease;
}

/* #recent-photos p {
    padding-left: 30px;
} */

#recent-photos .item:hover {
    filter: grayscale(0%);
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100px * 7));
    }
}

#recent-posts {
    width: 100%;
    margin-bottom: 40px;
}

#recent-posts .owl-item {
    width: 20%;
}

#recent-posts .item {
    color: black;
    border-radius: 20px;
    height: 190px;
    padding: 10px;
    border: 2px solid black;
}

#recent-posts h2 {
    font-family: Balancing;
    font-size: 16px;
    margin-bottom: 5px;
}

#recent-posts h4 {
    font-family: nR;
    font-size: 12px;
    margin-bottom: 5px;
}

#recent-posts p {
    font-family: nI;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 8px;
    font-size: 14px;
    line-height: 1.5;
}

/* ---------------------------- USER CSS ------------------------- */

#user-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: #fff;
    z-index: 999;
    padding: 20px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.hidden {
    transform: translateX(100%);
}

#user-container {
    text-align: left;
}

#user-header {
    text-align: center;
    /* font-size: 20px; */
    padding-bottom: 20px;
}

.user-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.profile-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* ---------------------------- ALBUM CSS ------------------------- */

.items{
    color: black;
    background-color: #f2f2f2;
    height: 190px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.items:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.items h2 {
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}

.items:hover h4 {
    font-family: 'Balancing';
    font-size: 14px;
    margin-bottom: 10px;
}

/* ---------------------------- POSTS CSS ------------------------- */

.itemss{
    color: black;
    background-color: #f2f2f2;
    height: 190px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.itemss:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.itemss h1 {
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}

.itemss:hover h2 {
    font-family: monospace;
    font-size: 14px;
    margin-bottom: 10px;
}

/* ---------------------------- TODOS CSS ------------------------- */

.itemsss{
    color: black;
    background-color: #f2f2f2;
    height: 190px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.itemsss:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.itemsss h1 {
    font-family: sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
}

.itemsss:hover h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
}